body {
  margin: 0;
  padding:0;
  background-color: rgb(230, 255, 243);
}

header {
  background-color: rgb(255, 255, 255);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-left: 144px;
  padding-right: 144px;
  padding-bottom: 12px;
}

main{
  align-items: left;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.fold{
  margin-left: 144px;
  margin-right: 144px;
}

.name{
  color: black;
  font-family: "LeagueSpartan";
  font-size: 22px;
}

.list-wrapper{
  display:flex;
  align-items:flex-end;
}

nav li {
  margin-right: 32px;
}

nav li:last-child{
  margin-right: auto;
}

nav a {
  color: #000;
  text-decoration: none;
  font-family: "LeagueSpartan";
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 50px;
}

main{
  margin-left: 0px;
}

.projectsBackground{
  background-color: white;
  margin-left: -144px;
  margin-right: -144px;
  padding-left: 144px;
  padding-right: 144px;
  padding-top: 72px;
}

.grayed-out a {
  color: gray;
  
}

.grayed-out:hover {
  color: #000; /* black on hover */
}

.model{
  height: 600px;
  width: 600px;
}

.child{
  display: inline-block;
  vertical-align: middle;
}

.icon{
  height: 100%;
  width: 100%;
}

.bold{
  font-family: "LeagueSpartan";
  font-weight: bold;
  font-size: 70px;
}
.medium{
  font-family: "LeagueSpartan";
  font-size: 30px;
}

.wrapper {
  white-space: nowrap; /* Prevents wrapping */
  text-align: left;
}

.left, .right {
  display: inline-block;
  width: 50%; /* Make each div take up half the width of the wrapper */
  vertical-align: middle; /* Align the top edges of the divs */
  text-align: left;
}

.top, .bottom{
  width: 100%;
  padding: 0px;
}

.medium, .bottom{
  margin-top: -20px;
}

.left {
  display: inline-block;
  width: 50%;
  margin-right: 0px; /* add this */
  vertical-align: middle;
  text-align: left;
}

.wrapper{
  height: 0px;
}

.headertext{
  font-size: 22px;
  
}

.headertext:first-child a {
  border-bottom: 2px solid black;
}

.projectsImage{
  width: 60%;
  height: 60%;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  float: left;
  
}

.projects {
  display: flex;
  align-items: center;

}

.projects p{
  margin-top: 0;
  margin-left: 10%;
}

.projects a{
  margin-left: 10%;
}

.project-text h2 {
  margin-top: 20px;
}

.project-text p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}

.projectsTitle{
  font-family: "LeagueSpartan";
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}

.projectsDescription{
  font-family: "LeagueSpartan";
  font-size: 30px;
  margin-bottom: 15px;
  
}

.projectsRoles{
  font-family: "LeagueSpartan";
  font-size: 30px;
  color: #7C7C7C;
  padding-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-decoration: none;
  font-family: "LeagueSpartan";
  border-radius: 30px;
}

.button:hover {
  background-color: rgb(70, 70, 70);
}

.spacer{
  padding: 30px;
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url('assets/LeagueSpartan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url('assets/LeagueSpartan-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}