body {
  margin: 0;
  padding:0;
  background-color: white;
  margin-left: 144px;
  margin-right: 144px;
}

header {
  background-color: white;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;
  padding-top: 36px;
  padding-left: 0px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.list-wrapper{
  display:flex;
  align-items:flex-end;
}

nav li {
  margin-right: 32px;
}

nav li:last-child{
  margin-right: auto;
}

nav a {
  color: #000;
  text-decoration: none;
  font-family: "LeagueSpartan";
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 50px;
}

.grayed-out a {
  color: gray;
  
}

.grayed-out:hover {
  color: #000; /* black on hover */
}

.model{
  height: 500px;
  width: 500px;
  border:#000;
}

.child{
  display: inline-block;
  vertical-align: middle;
}

.icon{
  height: 100%;
  width: 100%;
}

.bold{
  font-family: "LeagueSpartan";
  font-weight: bold;
  font-size: 70px;
}
.medium{
  font-family: "LeagueSpartan";
  font-size: 30px;
}

.wrapper {
  white-space: nowrap; /* Prevents wrapping */
  text-align: center;
}

.left, .right {
  display: inline-block;
  width: 50%; /* Make each div take up half the width of the wrapper */
  vertical-align: middle; /* Align the top edges of the divs */
  text-align: left;
}

.top, .bottom{
  width: 100%;
  padding: 0px;
}

.medium, .bottom{
  margin-top: -20px;
}

.wrapper{
  height: 0px;
}

.headertext{
  font-size: 22px;
  
}

.headertext:first-child a {
  border-bottom: 2px solid black;
}


@font-face {
  font-family: 'LeagueSpartan';
  src: url('assets/LeagueSpartan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueSpartan';
  src: url('assets/LeagueSpartan-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
